@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply bg-blue-500 hover:bg-blue-700 text-white font-bold p-1 rounded-lg m-1
    }

    .sale {
        @apply absolute top-0 right-0 rounded-full bg-red-700/75 p-3 m-2
    }

    .row {
        @apply flex flex-row justify-between items-center
    }

}

.active {

    @apply font-black text-green-600  border-b-2 border-green-600
}

.cart_btn {

   
    width: 80%;
    position: absolute;
    bottom: -50%;
    left: 0%;

    opacity:0;
    
    /* transform: translateX(-100%) ; */
    transition:all .3s ease-in-out ;
    
}

.card:hover .cart_btn {
    opacity: 1;
    /* transform: translateY(-120%) translateX(400%); */
    bottom: 20%;
}


.loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #FFF;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-left: 4px solid #FF3D00;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}